# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.css

.js

.json

.html

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
education-tree-concept_1284-10861.webp
exam-ques.json
exam-sec.js
exam.html.htm
examguide_bg1.webp
examsec.jpg
favicon1.png
flat-lay-desk-with-laptop-mouse_23-2148291124 (1).webp
flat-lay-desk-with-laptop-mouse_23-2148291124.webp
front-view-stacked-books-diploma-earth-globe-with-copy-space-education-day_23-2149241048.webp
geology.jpg
geology2.jpg
good afternoon 1.jpg
good afternoon 2.webp
good afternoon 3.jpg
images (12).jpeg
index.html.htm
scientific-laboratory-design-concept_1284-9382.webp
script (1) (1).js
script (1) (2).js
script (1) (3) (2) (2).js
script (1) (3) (2).js
script (1) (3).js
script (1).js
script (2) (3).js
script.js
ser1.jpg
splas.json
ssc1.jpg
ssc101-2.jpg
style.css
microbiology.webp
mock-index.html
mock-script (2) (1).js
mock-script (2).js
mock-script.js
mth2.jpg
new-index.html
oau.jpeg
objects-graduation-ceremony-illustration_87521-2091.jpg
physics-textbook-school-chalkboard-background_8071-53388.webp
physics2.jpg
red-light-round-podium-black-background-mock-up_43614-950.webp
row-bookcases_23-2147679267.webp
schnote.html
